In [2]:
def time_to_seconds(hours, minutes):
    print(hours * 60 * 60 + minutes * 60)

time_to_seconds(1,50)

6600

In [1]:
f = lambda x, y: x * y

f(3,3)

9

In [3]:
def return_sum(x = 1, y = 2):
    return x + y

return_sum(1,2)

3

In [4]:
[s.upper() for s in ['hello', 'world']]

['HELLO', 'WORLD']

In [5]:
[i for i in range(5) if i > 2]

[3, 4]

In [6]:
def add(a,b):
    print(a + b)

add(3, 5)

8

In [ ]:
with open('hello.txt', 'w') as file:
  file.write("hello!")

print(file.closed)

In [ ]:
def add(a,b):
    print(a + b)

add(3, 5)

In [ ]:
with open('hello.txt', 'w') as file:
  file.write("hello!")

print(file.closed)

In [7]:
class AstroBody:
    description = 'Natural entity in the observable universe.'    

class Star(AstroBody):
    pass

sun = Star()

sun.description

'Natural entity in the observable universe.'

In [8]:
def double_number(n):
    return n * 2

double_number(4)

8

In [9]:
book = {
    'title': 'The Giver',
    'author': 'Lois Lowry',
    'rating': 4.13
}

book['format'] = 'paperback'

book['format']

'paperback'

In [ ]:
class Building:
    
    def __init__(self, number):
        self.number = number

b = Building(245)

b.number

In [10]:
w = 'python'

w_iterator = iter(w)

next(w_iterator)

'p'

In [11]:
[i * 3 for i in range(5)]

[0, 3, 6, 9, 12]

In [12]:
s = 'String.'
s

'String.'